<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template">
<head lang="en">
    <title>Search</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Post a Job</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="demo-form2" th:action="@{/job/preview}" th:object="${job}" data-parsley-validate="true"
                      method="post"
                      class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="category" th:text="#{category}">Category
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="category" th:field="*{category.id}" class="form-control" required="required">
                                <option th:each="category : ${categories}" th:value="${category.id}"
                                        th:text="${category.name}">Category
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{type}">Type
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div th:each="jobType : ${jobTypes}">
                                    <span th:text="${jobType.name}"></span>
                                    <input type="radio" class="iradio_flat" th:field="*{jobType.id}"
                                           th:value="${jobType.id}" required="required"/>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company" class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{company}">Company</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="company" class="form-control col-md-7 col-xs-12" type="text" required="required"
                                   th:field="*{company}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="logo" class="control-label col-md-3 col-sm-3 col-xs-12"
                               th:text="#{logo}">Logo</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="logo" class="form-control col-md-7 col-xs-12" type="text"
                                   th:field="*{logo}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{url}">url</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="url" class="form-control col-md-7 col-xs-12" type="text"
                                   th:field="*{url}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{email}">url</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="email" class="form-control col-md-7 col-xs-12" type="email"
                                   th:field="*{email}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="position" class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{position}">position</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="position" class="form-control col-md-7 col-xs-12" type="text" required="required"
                                   th:field="*{position}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="control-label col-md-3 col-sm-3 col-xs-12" th:text="#{location}">location</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="location" class="form-control col-md-7 col-xs-12" type="text" required="required"
                                   th:field="*{location}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label col-md-3 col-sm-3 col-xs-12"
                               th:text="#{description}">description</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="description" class="form-control col-md-7 col-xs-12"
                                   th:field="*{description}" required="required"></textarea>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a class="btn btn-primary" th:href="@{/jobs}" th:text="#{cancel}">
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-success" th:text="#{preview}">Submit</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>